<% if book.errors.any? %>
 <div class = "alert">
  <p > errors prohibited this book from being saved:</p>
   <ul>
     <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
 </div>
 <% end %>