<body>
  <header>
    <h1>ようこそ　Bookersへ！</h1>
  </header>
  <main>
    <p class="text">
      Bookersでは、さまざまな書籍に関する貴方の意見や<br/>
      印象を共有し交換することが出来ます
    </p>
    <span>
      <%= link_to 'start', "/books/id" %>
    </span>
  </main>
</body>