<body>
  <p id="notice"></p>
  <h1>Books</h1>
<table>
  <div class="books">
    <div class="books1">
      <strong class="books1-1">Title</strong>
      <strong class="books1-2">Body</strong>
    </div>
    <div class="books2">
      <p class="books2-1">リーダブルコード</p>
      <p class="books2-2">より良いコードを書くためのシンプルで実践的なテクニック</p>
    </div>
    <div class="books3">
       <p class="books3-1">トラブル知らずのシステム設計</p>
       <p class="books3-2">システム設計の要点を図解で説明してくれます</p>
    </div>
    <div class="books4">
       <p class="books4-1">入門Git</p>
       <p class="books4-2">gitについての基本操作から内部構造まで解説してくれます</p>
    </div>
    <div class="books5">
       <p class="books5-1">アルゴリズム図鑑</p>
       <p class="books5-2">アルゴリズムについてカラーイラストでしっかり解説してくれます</p>
    </div>
    <div class="books6">
       <p class="books6-1">達人プログラマー</p>
       <p class="books6-2">プログラマ入門者は必読！</p>
    </div>
    <div class="books7">
      <p class="books7-1">データベース実践入門</p>
      <p class="books7-2">効率的なSQL文を教えてくれます</p>
    </div>
    <div class="books8">
      <p class="books8-1">test1</p>
      <p class="books8-2">1</p>
    </div>
    <div class="books9">
      <p class="books9-1">４</p>
      <p class="books9-2">4</p>
    </div>
    <div class="books10">
      <p class="books10-1">１</p>
      <p class="books10-2">1</p>
    </div>
    <div class="books11">
      <p class="books11-1">a</p>
      <p class="books11-2">a</p>
    </div>
    <div class="books12">
      <p class="books12-1">xxx</p>
      <p class="books12-2">zzz</p>
    </div>
    <div class="books13">
       <p class="books13-1">xxx</p>
       <p class="books13-2">zzzより良いコードを書くためのシンプルで実践的なテクニックmmmmmmmmmmmmmmmm</p>
    </div>
    <div class="books-14">
       <p class="books-14-1">uuu</p>
       <p class="books-14-2">uuu</p>
    </div>
</table>
</body>




























