<body>
  <p id="notice"></p>
  <h1>Books</h1>
<table>
  <!-- @books.each do |book| %>-->
   <thead class="books1-1">
     <th>Title</th>
     <th>Body</th>
     <th colspn="3"></th>
   </thead>

   <tbody>
     <tr>
      <!-- <td>< book.title %></td>-->
       <!--<td>< book.body %></td>-->
     </tr>
   </tbody>

</table>

<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
 <div class='new-book'>
   <%= f.text_field :title %>
 </div>
 <div class="actions">
   <%= f.text_area :body %>
   <%= f.submit 'Create book' %>
 </div>
 <% end %>
</body>




























