<main class="show">
 <p class="show-head">Book was successfully created</p>

 <div class="show-title">
   <p><span>Title:</span> <%= @book.title %> </p>
 </div>
 <div class="show-body">
   <p><span>Body:</span> <%= @book.body %> </p>
 </div>

<div class="show-help">
 <div class="show-edit">Edit</div>
 <div class="show-back">Back</div>
</div>

</main>