/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
   margin:33px;
 }

 .box {
   margin:33px;
 }

 .text1, .text2 {
   margin-bottom:33px;
 }

 /*index*/
 body {
  background-color: #fff;
  color:#333;
  font-family: verdana, arial, helvatica, sanseserif;
 }

table {
 width: auto;
}

/*new*/
.new-book-create {
 margin-top:10px;
}

/*show*/
.show {
 margin-left: 33px;
}

.show-head {
 color: green;
 margin: 33px;
}

.show-title, .show-body {
 margin:33px;
}

span {
 font-weight:600;
}

.show-help {
 display:flex;
 width:100%;
}

.show-back {
 margin-left:10px;
 border-left:2px solid black;
 padding-left:5px;
}

/*edit*/
.edit {
  margin:33px;
}

.edit-title-bottom {
 margin-bottom:10px;
}

.edit-update-book {
 margin:10px 0;
}

.edit-box {
 display:flex;
}

.edit-show {
 margin-right:10px;
 border-right:2px solid black;
 padding-right:5px;
}
